@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: #FFF;
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 125px;
}

.logo {
    font-weight: 700;
    font-size: 1.8em;
    text-decoration: none;
    color: rgb(138, 43, 226);
    transition: .3s ease;
}

.links a {
    display: inline-block;
    color: rgb(138, 43, 226);
    text-decoration: none;
    padding-left: 30px;
    font-weight: 500;
    font-size: 1.1em;
    transition: .3s ease;
}

.logo:hover,
.links a:hover,
.social-icon a:hover {
    transform: scale(1.2);
    color: rgb(103, 2, 153);
}

section {
    padding: 100px 125px;
}

.main {
    background: url(../image/HHH1.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #f0f1f2;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.name {
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 20px;
}

.major {
    display: inline-block;
    margin-top: 20px;
    color: rgb(138, 43, 226);
    font-weight: 600;
    font-size: 2em;
}

.me {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.main-btn {
    display: inline-block;
    background-color: rgb(138, 43, 226);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1em;
    color: #f0f1f2;
    padding: .9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: .3s ease;
}

.main-btn:hover {
    transform: scale(1.1);
    background-color: rgb(103, 2, 153);
}

.social-icon a {
    display: inline-block;
    color: #f0f1f2;
    margin-right: 10px;
    font-size: 1.3em;
    transition: .3s ease;
}

.title {
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 2.2em;
    color: rgb(138, 43, 226);
    margin-bottom: 50px;
}

.skills {
    min-height: 100vh;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin-right: 20px;
    box-shadow: 0px 5px 25px rgba(138 43 226 / 15%);
    width: 21.25em;
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: .3s ease;
}

.icon-card {
    color: rgb(138, 43, 226);
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: rgb(138, 43, 226);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.projects {
    background-color: #000020;
    width: 100%;
    min-height: 100vh;
}

.project-card {
    background-color: #f0f1f2;
    border: 1px solid #f0f1f2;
    width: 23em;
    min-height: 14em;
    overflow: hidden;
    margin: 20px;
    border-radius: 10px;
    transition: .7s ease;
}

.project-card:hover,
.card:hover {
    transform: scale(1.1);
}

.project-card:hover img {
    opacity: 0.9;
}

.img img {
    width: 100%;
}

.project-info {
    padding: 10px;
}

.project-info p{
    font-size: .8em;
}

.title-project {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    font-weight: 700;
    font-style: 1.8em;
}

.more-details {
    text-decoration: none;
    transition: .3s;
}

.more-details:hover {
    transform: scale(1.1);
    color: rgb(103, 2, 153);
}

.keep-touch {
    font-weight: 600;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 40px;
    margin-top: -20px;
}

.contact .icon-card {
    font-size: 4.5em;
}

.contact .content h3 {
    color: #000020;
}

.contact .content a {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer {
    background-color: #000020;
    color: #f0f1f2;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer p span {
    color: rgb(138, 43, 226);
}














